In [7]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('./data/coffee.csv')
df.loc[5:8, ["Day", "Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45